language: android        #语言说明
dist: trusty
jdk: oraclejdk8          #jdk版本
sudo: required           #权限要求
env:                 #环境变量
global:
- ANDROID_BUILD_TOOLS=29.0.1
- ADB_INSTALL_TIMEOUT=5 # minutes
android:             #Android 环境要求
components:
- tools
- platform-tools
- build-tools-$ANDROID_BUILD_TOOLS
- android-29
- android-21
- extra-google-m2repository
- extra-android-m2repository        # 配置design 库
- extra-android-support
- extra-google-google_play_services
- addon-google_apis-google-19       # 配置google play services
- sys-img-armeabi-v7a-android-29
- sys-img-armeabi-v7a-android-21
licenses:               #内容许可添加
- android-sdk-preview-license-.+
- android-sdk-license-.+
- google-gdk-license-.+
before_cache:
 - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
 - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:                   #指定缓存目录
directories:
 - $HOME/.gradle/caches/
 - $HOME/.gradle/wrapper/
 - ${TRAVIS_BUILD_DIR}/app/build/outputs/
before_install:
- yes | sdkmanager "platforms;android-29"
- yes | sdkmanager "platforms;android-21"
- echo yes | android update sdk --all --filter sys-img-armeabi-v7a-android-21 --no-ui --force > /dev/null
- cd $TRAVIS_BUILD_DIR
- wget -c https://raw.githubusercontent.com/Pgyer/TravisFile/master/pgyer_upload.sh
 -O pgyer_upload.sh
- chmod +x pgyer_upload.sh
# Emulator Management: Create, Start and Wait
before_script:
 - android list targets
 - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
 - emulator -avd test -no-skin -no-audio -no-window &
 - android-wait-for-emulator
 - adb shell input keyevent 82 &
 #执行代码规范扫描
 - ./gradlew lint
 #执行测试脚本
 - ./gradlew test
 - ./gradlew connectedAndroidTest
script:
 #构建版本
 - ./gradlew assembleRelease
after_script:
#发布蒲公英
 - set -e
 - $TRAVIS_BUILD_DIR/pgyer_upload.sh "${TRAVIS_BUILD_DIR}/app/build/outputs/apk/release/app-release.apk" 1ffafb3680dc6131e41428163082c76a
